In [ ]:
import pandas as pd
import numpy as np
import scipy.stats as st
from statsmodels.stats.proportion import proportions_ztest

In [ ]:
data=pd.read_csv('online_edu.csv')

In [ ]:
data

,Gender,Home Location,Level of Education,Age(Years),Number of Subjects,Device type used to attend classes,Economic status,Family size,Internet facility in your locality,Are you involved in any sports?,...,Time spent on social media (Hours),Interested in Gaming?,Have separate room for studying?,Engaged in group studies?,Average marks scored before pandemic in traditional classroom,Your interaction in online mode,Clearing doubts with faculties in online mode,Interested in?,Performance in online,Your level of satisfaction in Online Education
0,Male,Urban,Under Graduate,18,11,Laptop,Middle Class,4,5,No,...,1,No,No,No,91-100,1,1,Practical,6,Average
1,Male,Urban,Under Graduate,19,7,Laptop,Middle Class,4,1,Yes,...,1,Yes,Yes,No,91-100,1,1,Theory,3,Bad
2,Male,Rural,Under Graduate,18,5,Laptop,Middle Class,5,2,No,...,1,No,Yes,No,71-80,1,1,Both,6,Bad
3,Male,Urban,Under Graduate,18,5,Laptop,Middle Class,4,4,Yes,...,2,No,No,yes,91-100,1,2,Theory,4,Bad
4,Male,Rural,Under Graduate,18,5,Laptop,Middle Class,4,3,No,...,2,Yes,Yes,yes,81-90,3,3,Both,6,Average
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1028,Female,Rural,Under Graduate,19,3,Mobile,Middle Class,6,5,Yes,...,4,Yes,Yes,yes,91-100,4,4,Theory,8,Average
1029,Female,Rural,Under Graduate,20,6,Desktop,Middle Class,3,1,No,...,2,Yes,Yes,No,71-80,5,5,Theory,10,Average
1030,Female,Rural,Under Graduate,20,3,Mobile,Middle Class,3,2,No,...,3,No,Yes,yes,71-80,2,2,Theory,6,Average
1031,Female,Rural,Under Graduate,19,6,Mobile,Middle Class,2,3,Yes,...,2,Yes,No,No,61-70,3,3,Both,6,Good
1032,Female,Urban,Under Graduate,20,6,Laptop,Middle Class,4,3,No,...,1,Yes,Yes,yes,81-90,5,4,Practical,10,Average

Gaming addiction, one-sample z-test:
H_0: YES-proportion <=0.5 <br>
H_1: YES-proportion > 0.5

significance level α=0.05

In [ ]:
def hypothesis_test_result(p_val, alpha=0.05):
  if p_val < alpha:
    print('reject H_0 in favor H_1')
  else:
    print('failed to reject H_0 ')

In [ ]:
data['Interested in Gaming?'].value_counts()

Yes    560
No     473
Name: Interested in Gaming?, dtype: int64

In [ ]:
data['Interested in Gaming?'].value_counts(normalize=True)

Yes    0.54211
No     0.45789
Name: Interested in Gaming?, dtype: float64

In [ ]:
n = len(data)
n

1033

In [ ]:
proportion_yes = data['Interested in Gaming?'].value_counts(normalize=True)[0]

In [ ]:
se = np.sqrt(proportion_yes*(1-proportion_yes)/n)
se

0.015501513454948422

In [ ]:
z_score = (proportion_yes - 0.5) / se
z_score

2.716532053624447

In [ ]:
p_val = st.norm.sf(z_score)
p_val

0.003298490342697444

In [ ]:
hypothesis_test_result(p_val)

reject H_0 in favor H_1

group 1: Age < 20 <br>
group 2: Age >= 20 <br>


H_0: g1_gamers_prop == g2_gamers_prop<br>
H_1: g1_gamers_prop != g2_gamers_prop <br>
α = 0.05

In [ ]:
young_subset = data[data['Age(Years)'] < 20]
adult_subset = data[data['Age(Years)'] >= 20]

In [ ]:
g1_gamers_prop = young_subset['Interested in Gaming?'].value_counts(normalize=True)[0]
g2_gamers_prop = adult_subset['Interested in Gaming?'].value_counts(normalize=True)[0]

In [ ]:
n1 = len(young_subset)
n2 = len(adult_subset)

In [ ]:
n1

549

In [ ]:
g1_gamers_prop, g2_gamers_prop

(0.5282331511839709, 0.5578512396694215)

In [ ]:
# (g1_gamers_prop - g2_gamers_prop)

In [ ]:
# std(g1_gamers_prop) = sqrt(p*(1-p)/n1)
# std(g2_gamers_prop) = sqrt(p*(1-p)/n2)
#std(g1_gamers_prop - g2_gamers_prop) = sqrt(std_1^2 + std_2 ^2)
# se = np.sqrt(p*(1-p)*(1/n1+1/n2))

In [ ]:
adult_subset['Interested in Gaming?'].value_counts()[0]

270

In [ ]:
proportion = (young_subset['Interested in Gaming?'].value_counts()[0] + adult_subset['Interested in Gaming?'].value_counts()[0]) / (n1+n2)

In [ ]:
n1, n2

(549, 484)

In [ ]:
proportion

0.542110358180058

In [ ]:
se = np.sqrt(proportion*(1-proportion)*(1/n1+1/n2))
se

0.03106458599652595

In [ ]:
z_score = (g1_gamers_prop - g2_gamers_prop) / se
z_score

-0.9534358027099717

In [ ]:
p_val = st.norm.sf(abs(z_score)) * 2

In [ ]:
hypothesis_test_result(p_val)

failed to reject H_0